<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>
  /user/getIncompleteSchedule
</h1>
<p>
  ==================================================
  <br>
  course title || course id
  <br>
  ====================
  <br>
  name
  <br>
  seq || item || edDt || percent
  <br>
  ==========
  <br>
  ====================
  <br>
  ==================================================
</p>
{{#each courses}}
  <p>
    ==================================================
    <br>
    {{title}} || {{id}}
    {{#if incomplete}}
      <br>
      ====================
      {{#each incomplete}}
        <br>
        {{name}}
        <br>
        {{seq}} || {{item}} || {{edDt}} || {{percent}}
        <br>
        ==========
      {{/each}}
      <br>
      ====================
    {{/if}}
    <br>
    ==================================================
  </p>
{{/each}}
</body>
</html>
