<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>
  /user/getReportCalender
</h1>
<ol>
  {{#each calenders}}
    <li>
      {{reportTitle}}
      <ul>
        <li>
          courseTitle: {{courseTitle}}
        </li>
        <li>
          endDate: {{endDate}}
        </li>
        <li>
          lateEndDate: {{lateEndDate}}
        </li>
        <li>
          submitStatus: {{submitStatus}}
        </li>
      </ul>
    </li>
  {{/each}}
</ol>
</body>
</html>
